CONFIG_BOARD_TYPE_ESP32S3_128_ROUND_I80=y
CONFIG_LANGUAGE_EN_US=y
CONFIG_USE_AFE_WAKE_WORD=y
CONFIG_SEND_WAKE_WORD_DATA=y
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y
# CONFIG_ESP_CONSOLE_UART_DEFAULT is not set
CONFIG_LV_FONT_MONTSERRAT_48=y
CONFIG_FLASH_CUSTOM_ASSETS=y
CONFIG_CUSTOM_ASSETS_FILE="assets.bin"
